@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.title {
  text-align: center;
  color: #655384;
}

.instanceWrapper{
  margin: 10px;
  border: 1px solid #f0f0f0;
  box-shadow: inset 0px 0px 10px 0px #eeeeee;
  border-radius: 5px;
  box-sizing:border-box;
  overflow: hidden;
}

.instance, .servicesWrapper{
  background-color: #f7f7f7;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  float: left;
  width: 152px;
}

.instanceImage{
  width: 150px;
  height: 200px;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  box-shadow: inset 0px 0px 10px 0px #eeeeee;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.instanceImage.goro{
  background-image: url('../images/characters/goro.jpg') ;
}
.instanceImage.sub-zero{
  background-image: url('../images/characters/sub-zero.jpg') ;
}
.instanceImage.sonya-blade{
  background-image: url('../images/characters/sonya-blade.jpg') ;
}
.instanceImage.kitana{
  background-image: url('../images/characters/kitana.jpg') ;
}
.instanceImage.raiden{
  background-image: url('../images/characters/raiden.jpg') ;
}
.instanceImage.cyrax{
  background-image: url('../images/characters/cyrax.jpg') ;
}
.instanceImage.kano{
  background-image: url('../images/characters/kano.jpg') ;
}
.instanceImage.reptile{
  background-image: url('../images/characters/reptile.jpg') ;
}
.instanceImage.quan-chi{
  background-image: url('../images/characters/quan-chi.gif') ;
  background-position: center;
  background-repeat: no-repeat;
}

.instanceName, .serviceName{
  border-bottom-left-radius: 0px;
  border-bottol-right-radius: 0px;
  color: #655384;
  padding:5px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  box-shadow: inset 0px 0px 10px 0px #eeeeee;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.servicesWrapper{
  display: block;
  margin-left: 195px;
  float: none;
  width: auto;
}

.serviceName{
  display: inline-block;
  width:150px;
}

.button{
  color: #ffffff;
  padding:5px;
  background-color: #0088cc;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  width: 152px;
  display: inline-block;
  box-sizing: border-box;
}
.button:hover{
  box-shadow: inset 0px 0px 10px 0px #ffffff;
  cursor: pointer;
  -webkit-user-select: none;
}
